<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>insertionInscription</servlet-name>
        <servlet-class>servlets.insertionInscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionStock</servlet-name>
        <servlet-class>servlets.insertionStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertionSortie</servlet-name>
        <servlet-class>servlets.insertionSortie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comptableInsertion</servlet-name>
        <servlet-class>servlets.comptableInsertion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compteModification</servlet-name>
        <servlet-class>servlets.compteModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comptableModification</servlet-name>
        <servlet-class>servlets.comptableModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCompte</servlet-name>
        <servlet-class>servlets.loginCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginEnregistrements</servlet-name>
        <servlet-class>servlets.loginEnregistrements</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertionInscription</servlet-name>
        <url-pattern>/insertionInscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionStock</servlet-name>
        <url-pattern>/insertionStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertionSortie</servlet-name>
        <url-pattern>/insertionSortie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comptableInsertion</servlet-name>
        <url-pattern>/comptableInsertion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compteModification</servlet-name>
        <url-pattern>/compteModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comptableModification</servlet-name>
        <url-pattern>/comptableModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCompte</servlet-name>
        <url-pattern>/loginCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginEnregistrements</servlet-name>
        <url-pattern>/loginEnregistrements</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
